:root{
--Moderatecyan: hsl(176, 50%, 47%);
--Darkcyan: hsl(176, 72%, 28%);
--Darkgray: hsl(0, 0%, 48%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Commissioner";
}
body{
    background-color: var(--Darkgray);
}
header{
    background-image: url(./assets/image-hero-mobile.jpg);
    background-size: cover;
    padding: 2em;
    padding-bottom: 10em;
    color: white;
    
}
nav{
    display: flex;
    justify-content: space-between;
}
.logo p{
    font-size: 2em;
    font-weight: 700;
}
.bar{
    width: 15px;
    height: 2px;
    margin: 5px;
    background-color: white;
   
}
.desktop-links{
    display: none;
}
.mobile-links ul{
    color: #000;
    background-color: white;
    list-style: none;
   margin-top: 1em;
}
.mobile-links li{
    padding: 1em;
    font-weight: 500;
    font-size: 1.5em;
    display: none;
}
main{
    padding: 2em;
}
.firstcard{
    position: relative;
    top: -3em;
    background-color: white;
    text-align: center;
    border-radius: 1em;

    
}
.master-logo{
    position: relative;
    margin: auto;
    background-image: url(./assets/logo-mastercraft.svg);
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: -1em;
   
}
.firstcard h3{
    margin-bottom: 1em;
}
.firstcard p{
    line-height: 2em;
    padding-bottom: 2em;
    font-weight: 100;
}
.master-links{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-around;
  padding-bottom: 2em;
}
.bookmark{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./assets/icon-bookmark.svg);
    background-position: center;
    background-size: cover;

}
.master-links button{
    width: 60%;
    border-radius: 1em;
    font-size: 1em;
    font-weight: 500;
    color: white;
    background-color: var(--Moderatecyan);
    border: 2px;
}
.secondcard{
    outline: 2px solid red;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    margin-bottom: 1em;
    
}
.total{
    margin: auto;
    border-bottom: 2px solid var(--Darkgray);
    width: 50%;
    text-align: center;
    margin-bottom: 1em;
   
}
.money{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.amount{
    font-weight: 200;
    font-size: 0.8em;
    padding-bottom: 1em;
   
}
.thirdcard{
    outline: 2px solid blue;
    background-color: white;
    padding: 1em;
    margin-bottom: 1em;
    
}
.thirdcard h5{
    font-size: 1em;
    margin-bottom: 1em;
}
.about-info p{
    line-height: 10em;
    color: var(--Darkgray);
}
.stand-card,.last-card{
    background-color: white;
    margin: 1em;
    border: 1px solid var(--Darkgray);
    border-radius: 0.5em;
    padding: 1em;
}
.stand-card h6{
 font-size: 1em;
 margin-bottom: 0.5em;
}
.last-card h6{
    font-size: 1em;
 margin-bottom: 0.5em;
}
.pledge{
    color: var(--Moderatecyan);
    margin-bottom: 1em;
   font-weight: 700;
}
.stand-info{
    font-weight: 400;
    color: var(--Darkgray);
}
.info-left{
    display: flex;
    justify-content: space-between;
    padding-right: 16.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.number-left{
    font-size:1.5em;
    font-weight: bolder;
}
.left{
    font-size: 0.8em;
    color: var(--Darkgray);
}
.reward{
    background-color:var(--Moderatecyan);
    padding: 1em;
    border-radius: 2em;
    color: white;
    border: 0;
    width: 13em;
    margin-bottom: 2em;
}
.last-card button{
    background-color: var(--Darkgray);
}
.last-card{
    opacity: 0.4;
}
.modal{
   position: absolute;
   background-color: white;
   padding: 1em;
   margin-bottom: 1em;
   top: 10em;
   margin-right: 2.5em;
   box-shadow:5px 5px 5px rgb(87, 86, 86);
   z-index: 1em;
   display: none;
}
.check-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline:  2px solid rgb(66, 65, 65);
    
}
.icon-check{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline:  2px solid rgb(66, 65, 65);
    background-image: url(./assets/icon-check.svg);
    background-position: center;
    background-size: cover;
}
.heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.check{
    display: flex;
}
.subtitle{
    margin-left: 1em;
    margin-bottom: 1em;
}
